//Typo : font family Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//Background
$bg-medium-dark: #5F5D63;
$bg-dark: #242D3C;
$bg-light: #23FFE9;

//font-size
$gutter: 1rem;
$roboto: 'Roboto', sans-serif;

//Color RCM1 
$primary-color—rcm1: #23FFE9;
$red: #DD071E;
$secondary-color-rcm1: #1082D8;
$purple: #91027B;
$tertiary-color-rcm1: #5F5D63;

//Color RCS1
$primary-color—rcs1: #FF914D;
$red: #DD071E;
$secondary-color-rcs1: #E0A845;
$purple: #91027B;
$tertiary-color-rcs1: #5F5D63;
