@use './styles/vars' as v;
.main-nav__list {

  &< ul < li {
    list-style: none;
  }
}
.main-nav__list__title{
text-decoration: white;
text-transform: uppercase;
font-weight: 100;
}

.navbar__main {
  display: flex;
  flex-direction: row;
  color: white;

}